@model FriendMusic.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1> <!-- header tags, the smaller the number, the larger the text -->

<div> <!-- div tags are a container. used for grouping and styling -->
    <h4>Song</h4>
    <hr /> <!-- places a black line accross the screen, stands for header row -->
    <dl class="row">
        <dt class = "col-sm-2">
            <!-- the at symbol is used in cshtml to signla C# code -->
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
